<div class="container" ng-controller="ForgotPasswordCtrl">
     <div class="messages">
        <span class="error-message" ng-bind="errorMessage"></span>
    </div>
    <form name="forgotpasswordform">
      <div class="form-group">
      </div>
      <h3>
        Forgot password
      </h3>
      <div class="form-group">
        <label>
          Email
        </label>
        <input type="email" class="form-control" name="forgotpasswordemail" ng-model="forgotpasswordemail" ng-required="true"
               placeholder="Please enter valid email">
        <span class="control-group error">
            <span class="error" ng-show="forgotpasswordform.forgotpasswordemail.$error.required">Required!</span>
            <span class="error" ng-show="forgotpasswordform.forgotpasswordemail.$error.email">Not valid email!</span>
        </span>
      </div>
      <div class="form-group">
        <a id="forgot-password-link" href ng-disabled="!forgotpasswordform.$valid" ng-click="forgotPassword()" class="btn btn-lg btn-primary">Forgot Password</a>
      </div>
    </form>
    </div>